canvas {
	border: 0px;
	background-color: #000000;
	padding: 0 0 0 0;
	position: absolute;
}

body {
	margin: 0 0 0 0;
	background-color: #000000;
}

::-webkit-scrollbar { 
    display: none; 
}

@font-face {
	font-family: 'Arial';
}

#ui {
	position: relative;
}

.uiObject {
	position: absolute;
}

.uiPanel {
	position: absolute;
}

.uiButton {
	position: absolute;
}